{% extends '/layout/master-user.html' %} {% block content %}
<!-- Title -->
{% set title = "ShoesMarket: Temukan Sepatu yang Tepat untuk Gaya dan Kebutuhan
Anda" %}

<!-- modal-login -->
{% block modal_login %} {% include '/user/modal-login.html' %} {% endblock %}

<!-- navbar -->
{% block navbar %} {% include '/user/navbar.html' %} {% endblock %}

<!-- modal-card -->
{% block modal_card %} {% include '/user/modal-card.html' %} {% endblock %}

<!-- carousel -->
{% block carousel %} {% include '/user/carousel.html' %} {% endblock %}

<!-- button back to top -->
{% block button_backtotop %} {% include '/user/button-backtotop.html' %} {%
endblock %}

<!-- card -->
{% block card %} {% include '/user/card.html' %} {% endblock %}

<!-- iklan -->
{% block iklan %} {% include '/user/iklan.html' %} {% endblock %}

<!-- review card -->
{% block review_card %} {% include '/user/review-card.html' %} {% endblock %}

<!-- newsletter -->
{% block newsletter %} {% include '/user/newsletter.html' %} {% endblock %}

<!-- footer -->
{% block footer %} {% include '/user/footer.html' %} {% endblock %}

<!--  -->
{% endblock %}
