<!-- CARD -->
<section>
  <div>
    <h1 class="container mt-5 mb-2">Product Recommendation</h1>
  </div>
</section>
<section class="container mb-5" data-aos="zoom-in" data-aos-offset="300">
  <div id="productCarousel" class="carousel slide">
    <div class="carousel-inner">
      <!-- Item -->
      <div class="carousel-item active">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
          <!-- Your first card -->
          <!-- Item 1 -->
          <div class="col">
            <div class="product">
              <div class="imgbox">
                <img src="asset/image/card/nike1.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Nike 1 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$500</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                >
                  Buy Now
                </button>
              </div>
            </div>
          </div>

          <!-- Item 2-->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/nike2.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Nike 2 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$650</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal2"
                >
                  Buy Now
                </button>
              </div>
            </div>
          </div>

          <!-- Item 3 -->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/adidas1.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Adidas 1 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$800</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal3"
                >
                  Buy Now
                </button>
              </div>
            </div>
          </div>

          <!-- Item 4 -->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/converse1.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Converse 1 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$200</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal4"
                >
                  Buy Now
                </button>
              </div>
            </div>
          </div>
          <!-- Add more columns with your card content -->
        </div>
      </div>

      <div class="carousel-item">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
          <!-- Your Second card -->
          <!-- Item -->
          <div class="col">
            <div class="product">
              <div class="imgbox">
                <img src="asset/image/card/converse2.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Converse 2 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$400</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/adidas2.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Adidas 1 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$900</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/nike3.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Nike 3 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$5500</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="product d-none d-sm-block">
              <div class="imgbox">
                <img src="asset/image/card/adidas3.jpg" class="img-fluid" />
              </div>
              <div class="specifies">
                <h2>
                  Adidas 3 <br />
                  <span>Sepatu</span>
                </h2>
                <div class="price">$700</div>
                <label>Desc</label>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <label>Size</label>
                <ul>
                  <li>38</li>
                  <li>39</li>
                  <li>40</li>
                  <li>41</li>
                  <li>42</li>
                </ul>
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
          <!-- Add more columns with your card content -->
        </div>
      </div>
      <!-- Add more carousel items with similar structure -->
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<div class="container w-25 mb-5">
  <a href="/login" type="button" class="btn btn-outline-dark">See More</a>
</div>
