<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1"><b>Shoes</b>Market</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Masukkan Password Baru</p>
      <form action="/edit-forgot-password" method="post">
        <input type="hidden" name="email" value="{{ email }}" />
        <div class="input-group mb-3">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Password Baru"
            name="password"
            required
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="password"
            id="retype_password"
            class="form-control"
            placeholder="Retype password"
            name="retype_password"
            required
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="icheck-primary">
          <input type="checkbox" id="show-password" />
          <label for="show-password"> Show Password </label>
        </div>
        <div class="row">
          <div class="col-12">
            <input
              type="submit"
              name="simpanpass"
              class="btn btn-primary btn-block"
              value="Submit new password"
            />
          </div>
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="/forgot-password">Back</a>
      </p>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("show-password")
    .addEventListener("change", function () {
      var passwordInput = document.getElementById("password");
      var retypePasswordInput = document.getElementById("retype_password");
      if (this.checked) {
        passwordInput.type = "text";
        retypePasswordInput.type = "text";
      } else {
        passwordInput.type = "password";
        retypePasswordInput.type = "password";
      }
    });
</script>
