<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1"><b>Shoes</b>Market</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">
        You forgot your password? Here you can easily retrieve a new password.
      </p>
      <form action="/forgot-password" method="post">
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="email"
            required
          />
        </div>
        <div class="row">
          <div class="col-12">
            <input
              type="submit"
              class="btn btn-primary btn-block"
              value="Request new password"
            />
          </div>
        </div>
      </form>
      <p class="mt-3 mb-1">
        <a href="/login">Login</a>
      </p>
    </div>
  </div>
</div>
