<!-- Iklan section -->
<section class="bg-body-secondary mb-5">
  <div class="container">
    <div
      class="row d-flex flex-column-reverse flex-md-row justify-content-center align-items-center"
    >
      <div
        class="col-12 col-md-6 px-5 text-center text-md-start"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <h1>
          Temukan berbagai pilihan sepatu terbaik untuk gayamu di Shoes Market
        </h1>
        <h4 class="pt-4 pb-2">Nikmati diskon 10% untuk member baru!</h4>
        <div
          class="d-flex justify-content-center align-items-center justify-content-md-start"
        >
          <a href="/login" type="button" class="btn btn-danger w-50 w-md-25">
            GET PROMO
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-4 pt-md-0 d-flex justify-content-center">
        <img src="/asset/image/vans-iklan.png" alt="Iklan" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
