<!-- Modal CARD -->
<section>
  <!-- ITEM 1 -->
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3">
            <img
              src="/asset/image/card/nike1.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Nike 1</h3>
              <h5>Desc</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                obcaecati odit, ullam laboriosam recusandae cupiditate sapiente
                blanditiis facere consequatur aperiam excepturi labore quasi,
                voluptas illum soluta eos, suscipit quos qui.
              </p>

              <p class="card-text">
                <small class="text-muted">Harga: $500</small>
              </p>
              <label>Size</label>
              <ul>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
              </ul>
              <div class="ratings mt-2">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <!-- Tambahkan card lainnya sesuai kebutuhan -->
        </div>
        <div class="modal-footer">
          <a href="/login" type="button" class="btn btn-primary">Add to Cart</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 2 -->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3">
            <img
              src="/asset/image/card/nike2.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Nike 2</h3>
              <h5>Desc</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut,
                magni possimus inventore hic voluptatem, tempora voluptatum
                dolor eaque omnis ex, ea rem soluta mollitia aliquam
                voluptatibus accusantium qui! Pariatur, expedita.
              </p>
              <p class="card-text">
                <small class="text-muted">Harga: $650</small>
              </p>
              <label>Size</label>
              <ul>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
              </ul>
              <div class="ratings mt-2">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
              </div>
            </div>
          </div>
          <!-- Tambahkan card lainnya sesuai kebutuhan -->
        </div>
        <div class="modal-footer">
          <a href="/login" type="button" class="btn btn-primary">Add to Cart</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 3 -->
  <div
    class="modal fade"
    id="exampleModal3"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3">
            <img
              src="/asset/image/card/adidas1.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Adidas 1</h3>
              <h5>Desc</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                veniam veritatis doloribus, eveniet voluptates quod suscipit
                excepturi vitae, aliquam culpa aspernatur debitis nulla. Beatae
                quis nam rerum maxime aspernatur saepe?
              </p>
              <p class="card-text">
                <small class="text-muted">Harga: $800</small>
              </p>
              <label>Size</label>
              <ul>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
              </ul>
              <div class="ratings mt-2">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
              </div>
            </div>
          </div>
          <!-- Tambahkan card lainnya sesuai kebutuhan -->
        </div>
        <div class="modal-footer">
          <a href="/login" type="button" class="btn btn-primary">Add to Cart</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 4 -->
  <div
    class="modal fade"
    id="exampleModal4"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card mb-3">
            <img
              src="/asset/image/card/converse1.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">Converse 1</h3>
              <h5>Desc</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                veniam veritatis doloribus, eveniet voluptates quod suscipit
                excepturi vitae, aliquam culpa aspernatur debitis nulla. Beatae
                quis nam rerum maxime aspernatur saepe?
              </p>
              <p class="card-text">
                <small class="text-muted">Harga: $200</small>
              </p>
              <label>Size</label>
              <ul>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
              </ul>
              <div class="ratings mt-2">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <!-- Tambahkan card lainnya sesuai kebutuhan -->
        </div>
        <div class="modal-footer">
          <a href="/login" type="button" class="btn btn-primary">Add to Cart</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
