<!-- Newsletter -->
<section class="bg-body-secondary newsletter mb-0 mt-5 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <div class="content" data-aos="zoom-in" data-aos-duration="500">
          <h2 class="text-center">SUBSCRIBE TO OUR NEWSLETTER</h2>
          <div
            class="input-group d-flex justify-content-center align-items-center"
          >
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />

            <button type="button" class="btn btn-danger w-25 ms-2">
              SUBSCRIBE NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
